.title {
  font-size: 18px;
  margin: 24px 0 24px 24px;
  font-weight: 600;
  color: #a9abb2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 80px;

  .bread {
    font-size: 16px;
    font-weight: 500;
    margin-left: 24px;
  }
}

.content {
}

.footer {
  text-align: center;
}
