.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 784px;
    border: 1px solid #f4f5f9;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 0px #f0f4f5;
    overflow: hidden;

    .leftBox {
      position: relative;
      height: 100%;
      width: 450px;
      background: linear-gradient(#3cb09e, #2bc17b);

      .leftHeader {
        display: flex;
        padding:  24px 0px 0px 24px;
        color: #fff;
        font-size: 24px;
      }

      .leftContent {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 347px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .welcome {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          height: 50px;
          font-size: 36px;
          font-weight: 400;
          color: #fff;
          margin-bottom: 8px;
        }

        .platformInfo {
          display: flex;
          font-size: 18px;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 68px;
        }

        .register {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 36px;
          height: 65px;
          width: 255px;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 32px;
          color: #fff;
          font-size: 18px;
        }
      }
    }

    .rightBox {
      display: flex;
      height: 100%;
      flex: 1;
    }
  }
}
