.content {
  margin: 16px;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 可选：列之间的间距（间隙） */
  gap: 24px;

  .card {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 4px;
    height: 150px;

    &:first-child {
      margin-left: 0;
    }

    color: #fff;

    .left {
      display: flex;
      align-items: center;
      .icon {
        font-size: 100px;
        opacity: 0.3;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      .name {
        font-size: 24px;
        margin-bottom: 8px;
      }

      .num {
        font-size: 24px;
        margin-bottom: 8px;
      }

      .desc {
        font-size: 16px;
      }
    }
  }
}

.chart {
  display: flex;
  margin-top: 16px;
  height: 420px;

  .time {
    width: 50%;
    background-color: #fff;
  }

  .gold {
    width: 50%;
    background-color: #fff;
    margin-left: 24px;
  }
}
