.content {
  margin: 16px;

  .select {
    border-radius: 4px;
    background-color: #fff;
    height: 170px;
    width: 100%;
  }

  .list {
    padding: 24px;
    height: 910px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 4px;

    .name {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 24px;
    }
  }
}