.content {
  margin: 16px;

  .select {
    border-radius: 4px;
    background-color: #fff;
    height: 170px;
    width: 100%;
  }

  .list {
    height: 910px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 4px;
  }
}