.content {
  margin: 16px;

  .select {
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
  }

  .list {
    padding: 24px;
    height: 910px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 4px;

    .name {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 24px;
    }
  }
}

.coverImg {
  width: 81px;
  height: 54px;
  border-radius: 4px;
}

/* 操作链接样式 */
.editLink {
  color: #2bc17b;

  &::after {
    position: relative;
    left: 5px;
    content: '';
    width: 1px;
    border-left: 1px solid #2bc17b;
    height: 16px;
  }
}

.upLink {
  color: #2bc17b;
}

.downLink {
  color: #2bc17b;
}

.deleteLink {
  color: #fb5451;
}
